.body {
    background: #ffffff;;
}

.fixed--box {
    width: 100vw;
    position: fixed;
    top: 0px;
    background: #ffffff;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    float: right;
}

.buttons__login {
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 0;
    text-decoration: none;
    color: #333333;
    padding: 5px 10px;
    border: 1px solid #333333;
    border-radius: 7px;
}

.buttons__register {
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 0;
    text-decoration: none;
    color: #333333;
    padding: 5px 10px;
    border: 1px solid #333333;
    border-radius: 7px;
}

.header {
   display: block;
   margin: 20px 40vw 30px 40vw;
}

.nav--panel {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px;
    border-bottom: 1px;
    border-right: 0;
    border-left: 0;
    border-style: solid;
    border-color: #333333;
    padding: 5px;
    background: #fafafa;
}

.nav--panel__options {
    
    margin: 10px 10px;
    font-size: 17px;
    color: #333333;
    text-decoration: none;
}

.main--picture {
    display: block;
    margin: 240px auto 0px auto;
    max-width: 1000px;
}

.text1 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.text2 {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 40px; 
}

.wedding--picture {
    display: block;
    margin: 50px auto;
    max-width: 300px;
}

.text2--table {
    margin: 20px 0px;
    border-bottom: 1px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-style: solid;
    padding: 0 28vw 50px 28vw;
    font-size: 20px;
}

.information {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 28vw 50px 28vw;
    font-size: 20px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__data {
    margin-top:0;
    margin-bottom: 10px;
}
