.body {
    background-image: url('Background-main.jpg');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw 100vh;

}

.title {
    color: #000000;
    text-align: center;
    margin-bottom: 60px;
}

#footer {
    margin-top: 100px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content {
    color: #000000;
    margin-left: 68px;
}

.main_page-1 {
    color:#8a6006;
}

.main_page-2 {
    color:#585858;
}

.main_page-3 {
    color:#ba88fc;
}

nav a {
    color:white;
}

.links {
    margin-left: 5px;
    display: inline;
}

.links__introduction {
    background: rgb(138,96,6);
    background: linear-gradient(90deg, rgba(138,96,6,1) 0%, rgba(138,96,6,1) 5%, rgba(255,255,255,0) 78%);
    padding: 10px 70px;
}

.links__weddingplace {
    background: rgb(88,88,88);
    background: linear-gradient(90deg, rgba(88,88,88,1) 0%, rgba(88,88,88,1) 5%, rgba(255,255,255,0) 78%);
    padding: 10px 23px;
}

.links__menu {
    background: rgb(186,136,252);
    background: linear-gradient(90deg, rgba(186,136,252,1) 0%, rgba(186,136,252,1) 5%, rgba(255,255,255,0) 78%);
    padding: 10px 71px;
}

.links__weddingtables {
    background: rgb(167,47,127);
    background: linear-gradient(90deg, rgba(167,47,127,1) 0%, rgba(167,47,127,1) 5%, rgba(255,255,255,0) 78%);
    padding: 10px 45px;
}

.links__weddingbinding {
    background: rgb(40,29,65);
    background: linear-gradient(90deg, rgba(40,29,65,1) 0%, rgba(40,29,65,1) 5%, rgba(255,255,255,0) 78%);
    padding: 10px 41px;
}

.links__ceremony {
    background: rgb(14,7,116);
    background: linear-gradient(90deg, rgba(14,7,116,1) 0%, rgba(14,7,116,1) 5%, rgba(255,255,255,0) 78%);
    padding: 10px 55px;
}

.links__newlywedslook {
    background: rgb(9,225,233);
    background: linear-gradient(90deg, rgba(9,225,233,1) 0%, rgba(9,225,233,1) 5%, rgba(255,255,255,0) 78%);
    padding: 10px 56px;
}

.links__decorations {
    background: rgb(105,204,163);
    background: linear-gradient(90deg, rgba(105,204,163,1) 0%, rgba(105,204,163,1) 5%, rgba(255,255,255,0) 78%);
    padding: 10px 57px;
}

.links__printing {
    background: rgb(17,131,32);
    background: linear-gradient(90deg, rgba(17,131,32,1) 0%, rgba(17,131,32,1) 5%, rgba(255,255,255,0) 78%);
    padding: 10px 58px;
}

.links__others {
    background: rgb(255,136,0);
    background: linear-gradient(90deg, rgba(255,136,0,1) 0%, rgba(255,136,0,1) 5%, rgba(255,255,255,0) 78%);
    padding: 10px 53px;
}

.margin {
    margin: 40px 0px;
}

.weddingdate {
    text-align: center;
    color: #8a6006;
}

.weddingdate__p {
    text-align: center;
}

.weddingdate__mostimportant {
    margin: auto;
    width: 30%;
    text-align: center;
    background: rgb(138,96,6);
    background: linear-gradient(90deg, rgba(138,96,6,1) 0%, rgba(138,96,6,1) 5%, rgba(255,255,255,0) 78%);
    padding: 10px;
}

.titleintroduction {
    color: #8a6006;
    text-align: center;
}

.weddingdate__interestinginfo {
    margin: auto;
    width: 60%;
    text-align: center;
    background: rgb(138,96,6);
    background: linear-gradient(90deg, rgba(138,96,6,1) 0%, rgba(138,96,6,1) 5%, rgba(255,255,255,0) 78%);
    padding: 10px;
}

.titleweddingplace {
    color: #585858;
    text-align: center;
}

.weddingplace {
    text-align: center;
    color: #585858;
}

.weddingplace__p {
    text-align: center;
}

.weddingplace__list {
    text-align: left;
    list-style-position: inside;
    margin-left: 13vw;
}

.weddingplace__mostimportant {
    margin: auto;
    width: 30%;
    text-align: center;
    border: 3px solid #585858;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

.weddingplace__data {
    margin-left: 20vw;
    margin-top: 40px;
    margin-bottom: 40px;
}

.weddingplace__places {
    text-align: center;
}

.weddingplace__places--place {
    display: inline;
    margin: 20px 80px;
}

.titlemenu {
    color: #ba88fc;
    text-align: center;
}


.menu {
    text-align: center;
    color: #ba88fc;
    margin-bottom: 20px;
}

.menu__p {
    text-align: center;
}

.menu__data {
    margin-left: 20vw;
    margin-top: 40px;
    margin-bottom: 40px;
}

.menu__mostimportant {
    margin: auto;
    width: 65%;
    text-align: center;
    border: 3px solid #ba88fc;
    padding: 10px;
}

.menu__mostimportant--2 {
    margin: auto;
    width: 20%;
    text-align: center;
    border: 3px solid #ba88fc;
    padding: 10px;
}

.menu__arrangements {
    margin: auto;
    width: 30%;
    text-align: center;
    border: 3px solid #ba88fc;
    padding-bottom: 500px;
    padding-left: 20px;
    padding-right: 20px;
}

.menu__buffet {
    margin: auto;
    width: 25%;
    text-align: center;
    border: 3px solid #ba88fc;
    padding-bottom: 20px;
}

.menu__buffet--question {
    display: inline;
    color: #ba88fc;
    padding-top: 20px;
    margin: 0px 50px; 
}

.menu__buffet--arrangements {
    margin: auto;
    color: #ba88fc;
    width: 30%;
    text-align: center;
    border: 3px solid #ba88fc;
    padding-bottom: 500px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
}