.body {
    background: #ffffff;;
}

.title {
    color: #000000;
    text-align: center;
}

#footer {
    margin-top: 100px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content {
    color: #000000;
    text-align: center;
}

.main_page-1 {
    color:#8a6006;
}

.main_page-2 {
    color:#585858;
}

.main_page-3 {
    color:#ba88fc;
}

nav a {
    color:white;
}

.links {
    text-align: center;
}

.links__introduction {
    background:#8a6006;
    padding: 10px 70px;
}

.links__weddingplace {
    background: #585858;
    padding: 10px 23px;
}

.links__menu {
    background: #ba88fc;
    padding: 10px 71px;
}

.links__weddingtables {
    background: #a72f7f;
    padding: 10px 45px;
}

.links__weddingbinding {
    background: #281d41;
    padding: 10px 41px;
}

.links__ceremony {
    background: #0e0774;
    padding: 10px 55px;
}

.links__newlywedslook {
    background: #09e1e9;
    padding: 10px 56px;
}

.links__decorations {
    background: #69cca3;
    padding: 10px 57px;
}

.links__printing {
    background: #118320;
    padding: 10px 58px;
}

.links__others {
    background: #ff8800;
    padding: 10px 53px;
}

.margin {
    margin: 40px 0px;
}

.weddingdate {
    text-align: center;
    color: #8a6006;
}

.weddingdate__p {
    text-align: center;
}

.weddingdate__mostimportant {
    margin: auto;
    width: 30%;
    text-align: center;
    border: 3px solid #8a6006;
    padding: 10px;
}

.titleintroduction {
    color: #8a6006;
    text-align: center;
}

.weddingdate__interestinginfo {
    margin: auto;
    width: 60%;
    text-align: center;
    border: 3px solid #8a6006;
    padding: 10px;
}

.titleweddingplace {
    color: #585858;
    text-align: center;
}

.weddingplace {
    text-align: center;
    color: #585858;
}

.weddingplace__p {
    text-align: center;
}

.weddingplace__list {
    text-align: left;
    list-style-position: inside;
    margin-left: 13vw;
}

.weddingplace__mostimportant {
    margin: auto;
    width: 30%;
    text-align: center;
    border: 3px solid #585858;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

.weddingplace__data {
    margin-left: 20vw;
    margin-top: 40px;
    margin-bottom: 40px;
}

.weddingplace__places {
    text-align: center;
}

.weddingplace__places--place {
    display: inline;
    margin: 20px 80px;
}

.titlemenu {
    color: #ba88fc;
    text-align: center;
}


.menu {
    text-align: center;
    color: #ba88fc;
    margin-bottom: 20px;
}

.menu__p {
    text-align: center;
}

.menu__data {
    margin-left: 20vw;
    margin-top: 40px;
    margin-bottom: 40px;
}

.menu__mostimportant {
    margin: auto;
    width: 65%;
    text-align: center;
    border: 3px solid #ba88fc;
    padding: 10px;
}

.menu__arrangements {
    margin: auto;
    width: 30%;
    text-align: center;
    border: 3px solid #ba88fc;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

.menu__buffet {
    margin: auto;
    width: 25%;
    text-align: center;
    border: 3px solid #ba88fc;
    padding-bottom: 20px;
}

.menu__buffet--question {
    display: inline;
    color: #ba88fc;
    padding-top: 20px;
    margin: 0px 50px; 
}

.menu__buffet--arrangements {
    margin: auto;
    color: #ba88fc;
    width: 30%;
    text-align: center;
    border: 3px solid #ba88fc;
    padding-bottom: 500px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
}